**Taking One month data from 25th of March to 30th April. To evaluate markowitz portfolio**

In [1]:
#import python libraries
import numpy as np # Numerical Calculations
import pandas as pd # Data Processing
import matplotlib.pyplot as plt  # Data visualization
import seaborn as sns # Data Visualisation
%matplotlib inline

import array

import math

In [2]:
#Last One year daily data

ICICIBANK   = pd.read_csv(r'ICICIBANK.NS.csv')
TATASTEEL   = pd.read_csv(r'TATASTEEL.NS.csv')
SPARC       = pd.read_csv(r'SPARC.NS.csv')
TCS         = pd.read_csv(r'TCS.NS.csv')
EVERESTIND  = pd.read_csv(r'EVERESTIND.NS.csv')
NIITTECH    = pd.read_csv(r'NIITTECH.NS.csv')
APOLLOTYRE  = pd.read_csv(r'APOLLOTYRE.NS.csv')
SJVN        = pd.read_csv(r'SJVN.NS.csv')
VAKRANGEE   = pd.read_csv(r'VAKRANGEE.NS.csv')
AUROPHARMA  = pd.read_csv(r'AUROPHARMA.NS.csv')
JUBLFOOD    = pd.read_csv(r'JUBLFOOD.NS.csv')
HDFCBANK    = pd.read_csv(r'HDFCBANK.NS.csv')
RELINFRA    = pd.read_csv(r'RELINFRA.NS.csv')
SBIN        = pd.read_csv(r'SBIN.NS.csv')
WOCKPHARMA  = pd.read_csv(r'WOCKPHARMA.NS.csv')
INDUSINDBK  = pd.read_csv(r'INDUSINDBK.NS.csv')
SUNTV       = pd.read_csv(r'SUNTV.NS.csv')
MMFIN       = pd.read_csv(r'M&MFIN.NS.csv')
BAJFINANCE  = pd.read_csv(r'BAJFINANCE.NS.csv')
ASIANPAINT  = pd.read_csv(r'ASIANPAINT.NS.csv')
SRTRANSFIN  = pd.read_csv(r'SRTRANSFIN.NS.csv')
MAGMA       = pd.read_csv(r'MAGMA.NS.csv')
NTPC        = pd.read_csv(r'NTPC.NS.csv')

NIITTECH.head()

FileNotFoundError: ignored

In [ ]:
Company = pd.DataFrame()
Company['ICICIBANK']     = ICICIBANK['Close']
Company['TATASTEEL']     = TATASTEEL['Close']
Company['SPARC']         = SPARC['Close']
Company['TCS']           = TCS['Close']
Company['EVERESTIND']    = EVERESTIND['Close']
Company['NIITTECH']      = NIITTECH['Close']
Company['APOLLOTYRE ']   = APOLLOTYRE ['Close']
Company['SJVN']          = SJVN ['Close']
Company['VAKRANGEE']     = VAKRANGEE['Close']
Company['AUROPHARMA']    = AUROPHARMA['Close']
Company['JUBLFOOD ']     = JUBLFOOD ['Close']
Company['HDFCBANK  ']    = HDFCBANK['Close']
Company['RELINFRA ']     = RELINFRA ['Close']
Company['SBIN ']         = SBIN ['Close']
Company['WOCKPHARMA']    = WOCKPHARMA ['Close']
Company['INDUSINDBK']    = INDUSINDBK ['Close']
Company['SUNTV']         = SUNTV ['Close']
Company['MMFIN']         = MMFIN['Close']
Company['BAJFINANCE']    = BAJFINANCE ['Close']
Company['ASIANPAINT']    = ASIANPAINT ['Close']
Company['SRTRANSFIN ']   = SRTRANSFIN  ['Close']
Company['MAGMA']         = MAGMA['Close']
Company['NTPC']          = NTPC ['Close']

Company.head()

    ICICIBANK   TATASTEEL      SPARC  ...  SRTRANSFIN       MAGMA       NTPC
0  316.899994  286.799988  84.150002  ...   567.000000  17.600000  79.699997
1  330.250000  284.450012  97.650002  ...   651.400024  18.250000  79.650002
2  339.850006  277.250000  95.099998  ...   725.200012  17.700001  83.000000
3  313.399994  254.050003  88.250000  ...   609.400024  17.250000  81.750000
4  323.750000  269.600006  96.449997  ...   660.650024  17.000000  84.199997

[5 rows x 23 columns]

In [ ]:
Company.describe()

        ICICIBANK   TATASTEEL       SPARC  ...  SRTRANSFIN        MAGMA        NTPC
count  241.000000  241.000000  241.000000  ...   241.000000  241.000000  241.000000
mean   450.087551  420.052281  149.355602  ...  1058.046892   71.803735  118.962034
std     63.478989   72.010071   24.369401  ...   148.676946   35.169519   13.598642
min    284.000000  253.750000   83.300003  ...   452.049988   16.900000   76.400002
25%    410.250000  362.049988  135.850006  ...  1027.250000   50.000000  114.750000
50%    431.850006  428.399994  153.350006  ...  1084.050049   59.150002  119.349998
75%    515.349976  476.100006  163.100006  ...  1135.500000   99.949997  127.949997
max    549.400024  557.200012  204.949997  ...  1341.300049  136.100006  143.449997

[8 rows x 23 columns]

In [ ]:
Company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ICICIBANK    22 non-null     float64
 1   TATASTEEL    22 non-null     float64
 2   SPARC        22 non-null     float64
 3   TCS          22 non-null     float64
 4   EVERESTIND   22 non-null     float64
 5   NIITTECH     22 non-null     float64
 6   APOLLOTYRE   22 non-null     float64
 7   SJVN         22 non-null     float64
 8   VAKRANGEE    22 non-null     float64
 9   AUROPHARMA   22 non-null     float64
 10  JUBLFOOD     22 non-null     float64
 11  HDFCBANK     22 non-null     float64
 12  RELINFRA     22 non-null     float64
 13  SBIN         22 non-null     float64
 14  WOCKPHARMA   22 non-null     float64
 15  INDUSINDBK   22 non-null     float64
 16  SUNTV        22 non-null     float64
 17  MMFIN        22 non-null     float64
 18  BAJFINANCE   22 non-null     float64
 19  ASIANPAINT   22 non-null     float64
 20  SRTRANSFIN   22 non-null     float64
 21  MAGMA        22 non-null     float64
 22  NTPC         22 non-null     float64
dtypes: float64(23)
memory usage: 4.1 KB

In [ ]:
#shows company daily return

Comp_return = Company.pct_change()
Comp_return

    ICICIBANK  TATASTEEL     SPARC  ...  SRTRANSFIN      MAGMA      NTPC
0         NaN        NaN       NaN  ...          NaN       NaN       NaN
1    0.042127  -0.008194  0.160428  ...     0.148854  0.036932 -0.000627
2    0.029069  -0.025312 -0.026114  ...     0.113294 -0.030137  0.042059
3   -0.077828  -0.083679 -0.072029  ...    -0.159680 -0.025424 -0.015060
4    0.033025   0.061208  0.092918  ...     0.084099 -0.014493  0.029969
5   -0.038919  -0.012055  0.013479  ...    -0.059033  0.000000 -0.038005
6   -0.078740  -0.047306  0.052685  ...    -0.162471 -0.005882 -0.017901
7    0.137624   0.088473  0.125850  ...     0.033804  0.002959  0.025141
8   -0.021926  -0.005250  0.031938  ...     0.106270  0.047198  0.044758
9    0.074463   0.036761  0.022166  ...     0.135192  0.008451  0.022300
10  -0.035162  -0.008074  0.120295  ...    -0.045640  0.000000  0.017796
11  -0.009980   0.009202  0.008400  ...     0.027360 -0.016760  0.014100
12   0.044753   0.013151  0.005071  ...     0.027914 -0.034091  0.057842
13   0.098099   0.015403 -0.010090  ...     0.177321  0.005882  0.004206
14  -0.037944  -0.023692 -0.003276  ...    -0.145876  0.049708  0.035602
15  -0.081511  -0.071404  0.020818  ...    -0.140793  0.044568 -0.016178
16   0.012355   0.009024  0.021825  ...     0.029647  0.048000  0.003083
17   0.050603   0.007267 -0.010154  ...     0.061959  0.048346 -0.024590
18  -0.051282  -0.010174 -0.010612  ...     0.038223 -0.048544 -0.018908
19   0.038973   0.015324 -0.002145  ...    -0.039135 -0.048469 -0.011242
20   0.034349   0.006994 -0.018990  ...     0.082937 -0.029491 -0.021657
21   0.029457   0.033266  0.000365  ...     0.002661  0.013812 -0.001660

[22 rows x 23 columns]

In [ ]:
Comp_return.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ICICIBANK    21 non-null     float64
 1   TATASTEEL    21 non-null     float64
 2   SPARC        21 non-null     float64
 3   TCS          21 non-null     float64
 4   EVERESTIND   21 non-null     float64
 5   NIITTECH     21 non-null     float64
 6   APOLLOTYRE   21 non-null     float64
 7   SJVN         21 non-null     float64
 8   VAKRANGEE    21 non-null     float64
 9   AUROPHARMA   21 non-null     float64
 10  JUBLFOOD     21 non-null     float64
 11  HDFCBANK     21 non-null     float64
 12  RELINFRA     21 non-null     float64
 13  SBIN         21 non-null     float64
 14  WOCKPHARMA   21 non-null     float64
 15  INDUSINDBK   21 non-null     float64
 16  SUNTV        21 non-null     float64
 17  MMFIN        21 non-null     float64
 18  BAJFINANCE   21 non-null     float64
 19  ASIANPAINT   21 non-null     float64
 20  SRTRANSFIN   21 non-null     float64
 21  MAGMA        21 non-null     float64
 22  NTPC         21 non-null     float64
dtypes: float64(23)
memory usage: 4.1 KB

In [ ]:
describe = Comp_return.describe()
describe

       ICICIBANK  TATASTEEL      SPARC  ...  SRTRANSFIN       MAGMA       NTPC
count  21.000000  21.000000  21.000000  ...    21.000000  21.000000  21.000000
mean    0.009124   0.000044   0.024897  ...     0.015091   0.002503   0.006239
std     0.059437   0.039303   0.056437  ...     0.103472   0.032926   0.026412
min    -0.081511  -0.083679  -0.072029  ...    -0.162471  -0.048544  -0.038005
25%    -0.037944  -0.012055  -0.010090  ...    -0.045640  -0.025424  -0.016178
50%     0.029069   0.006994   0.008400  ...     0.029647   0.000000   0.003083
75%     0.042127   0.015324   0.031938  ...     0.084099   0.036932   0.025141
max     0.137624   0.088473   0.160428  ...     0.177321   0.049708   0.057842

[8 rows x 23 columns]

In [ ]:
avg_daily_ret = describe.loc['mean',:]
avg_daily_ret

ICICIBANK      0.009124
TATASTEEL      0.000044
SPARC          0.024897
TCS            0.004679
EVERESTIND     0.020552
NIITTECH      -0.001343
APOLLOTYRE     0.008721
SJVN           0.004845
VAKRANGEE      0.005081
AUROPHARMA     0.032143
JUBLFOOD       0.007454
HDFCBANK       0.007052
RELINFRA       0.044831
SBIN           0.000620
WOCKPHARMA     0.022579
INDUSINDBK     0.028342
SUNTV          0.013034
MMFIN         -0.000502
BAJFINANCE    -0.003664
ASIANPAINT     0.005345
SRTRANSFIN     0.015091
MAGMA          0.002503
NTPC           0.006239
Name: mean, dtype: float64

In [ ]:
Annual_Covar_Mat = Comp_return.loc[:,:].cov()*21
Annual_Covar_Mat

             ICICIBANK  TATASTEEL     SPARC  ...  SRTRANSFIN      MAGMA      NTPC
ICICIBANK     0.074189   0.040421  0.017248  ...     0.093752 -0.001157  0.010422
TATASTEEL     0.040421   0.032439  0.018743  ...     0.050225 -0.001871  0.007276
SPARC         0.017248   0.018743  0.066887  ...     0.023518  0.010267  0.006352
TCS           0.038725   0.019891  0.009485  ...     0.042386  0.003487  0.004458
EVERESTIND    0.030966   0.018440  0.022240  ...     0.039381 -0.004411  0.002514
NIITTECH      0.040436   0.023967 -0.007230  ...     0.052813  0.003740  0.002682
APOLLOTYRE    0.032467   0.017461  0.001542  ...     0.034501 -0.000198  0.007770
SJVN          0.006619   0.004558 -0.005218  ...     0.016995 -0.004841  0.006705
VAKRANGEE     0.012053   0.007806  0.005368  ...     0.010874  0.002695  0.009826
AUROPHARMA    0.016680   0.006999  0.038017  ...     0.002770  0.003766  0.011758
JUBLFOOD      0.033929   0.019433  0.003651  ...     0.043832 -0.006064  0.011838
HDFCBANK      0.040296   0.024990  0.021597  ...     0.044309  0.008315  0.008309
RELINFRA     -0.001465   0.001556  0.000452  ...    -0.007872  0.001309 -0.001938
SBIN          0.037440   0.023364  0.011374  ...     0.046836 -0.000712  0.010342
WOCKPHARMA    0.010978   0.011791  0.026387  ...     0.020340  0.002725  0.006931
INDUSINDBK    0.077836   0.027630  0.072411  ...     0.114990  0.010908  0.000255
SUNTV         0.030855   0.029087  0.023810  ...     0.037278  0.006127  0.013223
MMFIN         0.048411   0.028964 -0.002782  ...     0.093300  0.001734  0.009588
BAJFINANCE    0.048993   0.028568  0.015415  ...     0.069906  0.010643  0.001628
ASIANPAINT    0.020360   0.014283  0.014240  ...     0.025133  0.000516  0.006140
SRTRANSFIN    0.093752   0.050225  0.023518  ...     0.224834 -0.000523  0.017740
MAGMA        -0.001157  -0.001871  0.010267  ...    -0.000523  0.022766  0.000749
NTPC          0.010422   0.007276  0.006352  ...     0.017740  0.000749  0.014650

[23 rows x 23 columns]

In [ ]:
#Initializing equal weight to each company

Weight = np.array([1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23,1/23])

In [ ]:
Weight.T

array([0.04347826, 0.04347826, 0.04347826, 0.04347826, 0.04347826,
       0.04347826, 0.04347826, 0.04347826, 0.04347826, 0.04347826,
       0.04347826, 0.04347826, 0.04347826, 0.04347826, 0.04347826,
       0.04347826, 0.04347826, 0.04347826, 0.04347826, 0.04347826,
       0.04347826, 0.04347826, 0.04347826])

In [ ]:
#Calculating Annual Portfoilio variance

port_var=np.dot(Weight.T,np.dot(Annual_Covar_Mat,Weight))
port_var

0.018018230887011055

In [ ]:
# Calculating Portfolio Standard deviation (risk)

port_standard_deviation=np.sqrt(port_var)
port_standard_deviation

0.13423200395960366

In [ ]:
portfolio_return = np.sum(avg_daily_ret*Weight)*21
portfolio_return

0.23526238366580943

In [ ]:
#Calculate Expected return , Standard deviation (risk) and Variance

percent_var=str(round(port_var,2)*100)+'%'
percent_std=str(round(port_standard_deviation,2)*100)+'%'
percent_ret=str(round(portfolio_return ,2)*100)+'%'
print("Expected return: "+percent_ret)
print("Standard Deviation : "+percent_std)
print("Variance: "+percent_var)

Expected return: 24.0%
Standard Deviation : 13.0%
Variance: 2.0%

In [ ]:
pip install PyPortfolioOpt

Collecting PyPortfolioOpt
  Downloading https://files.pythonhosted.org/packages/8f/f5/4571e069d4870ede26995e191f2ef341329f881d7086cebea504141c79a8/PyPortfolioOpt-1.2.3-py3-none-any.whl (48kB)
     || 51kB 2.6MB/s
Requirement already satisfied: scipy<2.0,>=1.3 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.4.1)
Requirement already satisfied: cvxpy<1.1,>=1.0 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.0.31)
Requirement already satisfied: numpy<2.0,>=1.12 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.18.5)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.0.4)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from cvxpy<1.1,>=1.0->PyPortfolioOpt) (0.6.1)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.6/dist-packages (from cvxpy<1.1,>=1.0->PyPortfolioOpt) (2.0.7.post1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.6/dist-packages (from cvxpy<1.1,>=1.0->PyPortfolioOpt) (0.70.9)
Requirement already satisfied: scs>=1.1.3 in /usr/local/lib/python3.6/dist-packages (from cvxpy<1.1,>=1.0->PyPortfolioOpt) (2.1.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->PyPortfolioOpt) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->PyPortfolioOpt) (2018.9)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from osqp>=0.4.1->cvxpy<1.1,>=1.0->PyPortfolioOpt) (0.16.0)
Requirement already satisfied: dill>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from multiprocess->cvxpy<1.1,>=1.0->PyPortfolioOpt) (0.3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.19->PyPortfolioOpt) (1.12.0)
Installing collected packages: PyPortfolioOpt
Successfully installed PyPortfolioOpt-1.2.3

In [ ]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [ ]:
# Portfolio optimization !!

# Calculate the expected returns and the annualized sample covariance matix of asset returns

m_r = expected_returns.mean_historical_return(Company)
S   = risk_models.sample_cov(Company)


# Maximize the sharpe ratio 


ef= EfficientFrontier(m_r,S)
weight= ef.max_sharpe()
cleaned_weights=ef.clean_weights()
print(cleaned_weights)
ef.portfolio_performance(verbose=True)

OrderedDict([('ICICIBANK', 0.0), ('TATASTEEL', 0.0), ('SPARC', 0.0), ('TCS', 0.0), ('EVERESTIND', 0.0), ('NIITTECH', 0.0), ('APOLLOTYRE ', 0.0), ('SJVN', 0.21145), ('VAKRANGEE', 0.0), ('AUROPHARMA', 0.04073), ('JUBLFOOD ', 0.0), ('HDFCBANK  ', 0.0), ('RELINFRA ', 0.73369), ('SBIN ', 0.0), ('WOCKPHARMA', 0.0), ('INDUSINDBK', 0.00681), ('SUNTV', 0.0), ('MMFIN', 0.0), ('BAJFINANCE', 0.0), ('ASIANPAINT', 0.0), ('SRTRANSFIN ', 0.00731), ('MAGMA', 0.0), ('NTPC', 0.0)])
Expected annual return: 895.3%
Annual volatility: 10.1%
Sharpe Ratio: 88.76

/usr/local/lib/python3.6/dist-packages/pypfopt/risk_models.py:68: UserWarning: The covariance matrix is non positive semidefinite. Amending eigenvalues.
  "The covariance matrix is non positive semidefinite. Amending eigenvalues."
/usr/local/lib/python3.6/dist-packages/pypfopt/risk_models.py:87: UserWarning: Could not fix matrix. Please try a different risk model.
  warnings.warn("Could not fix matrix. Please try a different risk model.")

(8.953361342676871, 0.10064558379936571, 88.76058944111536)